<%- include("partials/header.ejs") %>

<main id="create-main">
  <h1>Create a new blog below</h1>
  <form action="/" method="post">
    <textarea name="blog"></textarea>
    <div class="create-button-box">
      <button type="button" class="clear">Clear</button>
      <button class="create" type="submit">Create</button>
    </div>
  </form>
</main>

<%- include("partials/footer.ejs") %>
