<%- include("partials/header.ejs") %>

<main id="view-main">
  <h1>Blog</h1>
  <div class="blog-box">
    <p><%= blog %></p>
  </div>
  <form action="/" method="get">
    <button type="submit">Back to Home</button>
  </form>
</main>

<%- include("partials/footer.ejs") %>
